NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_CHAIN_ID=11142220
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_PAYGRID_ROUTER_ADDRESS=0xe75027ff07931ef97248402f4df63a4d3287020d
NEXT_PUBLIC_PAYGRID_LINK_ADDRESS=0xd2dc71c47803b0939944ec29f13b644c48bae7de
NEXT_PUBLIC_USDC_ADDRESS=0x01C5C0122039549AD1493B8220cABEdD739BC44E
