NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_CHAIN_ID=11142220
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_PAYGRID_ROUTER_ADDRESS=0x6c3363D33eCD912576051316AF0A1c95F77EAD73
NEXT_PUBLIC_PAYGRID_LINK_ADDRESS=0x86D9B260F96873e82852B476ff7B0c93bD755597
NEXT_PUBLIC_USDC_ADDRESS=0x01C5C0122039549AD1493B8220cABEdD739BC44E
